<form ng-submit="search(username)">
  <div class="form-group">
    <input type="text" required  class="form-control" placeholder="Enter login ex: robconery" ng-model="username">
  </div>
  
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
      
  <br />
         
<div class="card" style="width: 20rem;" ng-show="user">
  <img class="card-img-top" ng-src="{{user.avatar_url}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{user.name}}</h4>
    <p class="card-text">Location: {{user.location }}</p>
  
   <a ui-sref=".UserRepository" class="btn btn-primary">View Repository</a> 
  
  </div>
</div>
  
  <br />
  
   <div ui-view></div>
   
 <!--  <div ng-include="'UserRepository.html'" ng-show="user"></div> -->