


<h1>{{repo.open_issues_count}}</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Gravatar</th>
      
    </tr>
  </thead>
  <tbody>

     <tr ng-repeat="user in repo.collaborators">
       <td><img src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" ></td>
        <td>{{user.Login}}</td>
        </tr>
        
  </tbody>
</table>


<a ui-sref="User"> Back </a>