

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Languages</th>
    </tr>
  </thead>
  <tbody>

     <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
       <td>
          <a ui-sref="RepoDetails({ login: user.login, repoName: repo.name })">{{repo.name}}</a>
       </td>
       <td>{{repo.stargazers_count | number}}</td>
        <td>{{repo.language}}</td>
        </tr>
        
  </tbody>
</table>